@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Roboto+Slab:wght@300;400;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  scroll-behavior: smooth;
}

ul [class],
ol [class] {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus,
:active {
  outline: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  min-width: 320px;
  padding: 30px 15px;
  width: 100%;
  margin: 0 auto;
}

#ancor {
  width: 40px;
  height: 40px;
  position: fixed;
  text-align: center;
  color: #fff;
  background: #6c231ebb;
  right: 0px;
  line-height: 40px;
  bottom: 60px;
  font-size: 22px;
  z-index: 100;
  display: none;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#ancor:hover, #ancor:focus {
  background: #6c231e;
}
#ancor.active {
  display: block;
}
#ancor a {
  width: 100%;
  height: 100%;
  display: block;
}
#ancor a i {
  color: #fff;
}

.header {
  background: url("/img/header-bg.png") no-repeat center/cover;
}
.header__navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .header__navigation.active {
    position: fixed;
    z-index: 100;
  }
}
.header__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo-link {
  display: inline-block;
  width: 100%;
  z-index: 11;
}
.header__logo-link.active {
  position: fixed;
  top: 30px;
  left: 15px;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 220px auto;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header__content {
    margin: 185px auto;
  }
}
@media screen and (max-width: 576px) {
  .header__content {
    margin: 77px auto;
  }
}
.header__title {
  font-size: 48px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
}
@media screen and (max-width: 576px) {
  .header__title {
    font-size: 40px;
  }
}
.header__subtitle {
  font-size: 20px;
  margin: 30px 0 70px 0;
  font-family: "Roboto Slab", serif;
}
@media screen and (max-width: 576px) {
  .header__subtitle {
    font-size: 18px;
    margin: 30px 0 50px 0;
  }
}
.header__btn {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  height: 100%;
  border: 3px solid #fff;
  background: transparent;
  margin: 0 auto;
  padding: 12px 37px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header__btn:hover {
  color: #c0301c;
  background: #fff;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .nav__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.nav__item {
  margin: 0 10px;
}
.nav__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .nav__item {
    margin: 0 0 15px 0;
  }
}
.nav__link {
  font-size: 14px;
  color: #fff;
  position: relative;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.nav__link:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav__link:hover:before {
  width: 100%;
  left: 0;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .nav__link {
    font-size: 22px;
  }
  .nav__link:before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .nav__link:hover:before {
    width: 100%;
    left: 0;
    background: #fff;
  }
}

.header__burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__burger {
    display: block;
  }
}
.header__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  z-index: 9;
}
.header__overlay.active {
  display: block;
}
.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 30px;
  right: 15px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 20;
}
.header__button.active {
  top: 0px;
  right: 30px;
}

#span.active {
  background: #6c231ed2;
}

@media screen and (max-width: 768px) {
  .menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 40px 0;
    list-style: none;
    background: #6c231ed2;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
}
@media screen and (max-width: 768px) and (max-width: 576px) {
  .menu {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .menu.active {
    visibility: visible;
    left: 0;
    z-index: 10;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .menu.active {
    padding: 95px 30px 0 30px;
  }
}

.header__button.active > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__button.active > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.header__button.active > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__button > span,
.header__button > span::before,
.header__button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.header__button > span.active {
  background: #6c231e;
}
@media screen and (max-width: 576px) {
  .header__button > span.active {
    background: #fff;
  }
}
.header__button > span.active::before, .header__button > span.active::after {
  background: #6c231e;
}
@media screen and (max-width: 576px) {
  .header__button > span.active::before, .header__button > span.active::after {
    background: #fff;
  }
}

.header__button > span::before {
  content: "";
  top: -8px;
}

.header__button > span::after {
  content: "";
  top: 8px;
}

.title {
  max-width: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: 0 auto 75px;
}
@media screen and (max-width: 576px) {
  .title {
    margin: 0 auto 50px;
  }
}
.title__title {
  font-size: 20px;
  text-transform: uppercase;
  color: #555;
  font-weight: 600;
  margin-bottom: 65px;
  position: relative;
}
.title__title::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  bottom: -28px;
  left: 45%;
  background: #555;
}
@media screen and (max-width: 576px) {
  .title__title::before {
    left: 44%;
  }
}
@media screen and (max-width: 530px) {
  .title__title::before {
    left: 43%;
  }
}
@media screen and (max-width: 470px) {
  .title__title::before {
    left: 42%;
  }
}
@media screen and (max-width: 440px) {
  .title__title::before {
    left: 41%;
  }
}
@media screen and (max-width: 370px) {
  .title__title::before {
    left: 40%;
  }
}
.title__text {
  font-size: 16px;
  color: #555;
  font-family: "Roboto Slab", serif;
}

.services {
  background: #fff;
  padding: 70px 0;
}
@media screen and (max-width: 768px) {
  .services {
    padding: 50px 0;
  }
}
@media screen and (max-width: 576px) {
  .services {
    padding: 30px 0;
  }
}
.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
@media screen and (max-width: 992px) {
  .services__body {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .services__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}
.services__item {
  width: calc(100% / 12 * 4 - 30px);
  margin: 0 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .services__item {
    width: calc(100% / 12 * 6 - 30px);
  }
  .services__item:last-child {
    margin-top: 40px;
  }
}
@media screen and (max-width: 992px) and (max-width: 768px) {
  .services__item:last-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .services__item {
    width: calc(100%);
  }
  .services__item:not(:last-child) {
    margin: 0 0 30px;
  }
}
.services__item-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #555;
  font-weight: 600;
  margin: 30px 0 25px;
}
.services__item-text {
  font-size: 14px;
  color: #555;
  line-height: 22px;
  font-family: "Roboto Slab", serif;
}

.about {
  background: #f8f8f8;
  padding: 70px 0;
}
@media screen and (max-width: 768px) {
  .about {
    padding: 50px 0;
  }
}
@media screen and (max-width: 576px) {
  .about {
    padding: 30px 0;
  }
}
.about__paragraphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
@media screen and (max-width: 768px) {
  .about__paragraphs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__paragraph {
  width: calc(100% / 12 * 6 - 30px);
  margin: 0 15px;
}
@media screen and (max-width: 768px) {
  .about__paragraph {
    width: calc(100% - 30px);
  }
  .about__paragraph:first-child {
    margin-bottom: 30px;
  }
}
.about__text {
  font-size: 14px;
  color: #555;
  line-height: 22px;
  font-family: "Roboto Slab", serif;
}
.about__employees {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .about__employees {
    margin-top: 50px;
  }
}

.slider {
  min-width: 0;
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  width: calc(100% / 12 * 3 - 30px);
  margin: 0 15px;
}
.slider__body:focus {
  outline: none;
}
.slider__img {
  position: relative;
}
.slider__img img {
  width: 100%;
}
.slider__title {
  font-size: 14px;
  color: #555;
  margin: 20px 0 15px;
}
.slider__subtitle {
  font-size: 13px;
  color: #555;
  font-family: "Roboto Slab", serif;
}

.slick-slider {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-arrow {
  position: absolute;
  top: 35%;
  z-index: 8;
  font-size: 0;
  cursor: pointer;
}

.slick-arrow.slick-prev {
  left: 15px;
  width: 35px;
  height: 35px;
  border: none;
  background: #8b8b8b;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background: url("/img/arrow-left.png") no-repeat center, #8b8b8b;
}
.slick-arrow.slick-prev:focus {
  background: url("/img/arrow-left.png") no-repeat center, #c0301c;
  outline: none;
}

.slick-arrow.slick-next {
  right: 14px;
  width: 35px;
  height: 35px;
  border: none;
  background: #8b8b8b;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background: url("/img/arrow-right.png") no-repeat center, #8b8b8b;
}
.slick-arrow.slick-next:focus {
  background: url("/img/arrow-right.png") no-repeat center, #c0301c;
  outline: none;
}
@media screen and (max-width: 576px) {
  .slick-arrow.slick-next {
    right: 15px;
  }
}

.slider__overlay {
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background: #8b8b8b69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
.slider__overlay:hover {
  opacity: 1;
}

.slider__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.slider__link {
  width: 30px;
  height: 30px;
  background: transparent;
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1px;
  font-size: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider__link:hover {
  background: #c0301c;
}

.works {
  background: #fff;
  padding: 70px 0;
}
@media screen and (max-width: 768px) {
  .works {
    padding: 50px 0;
  }
}
@media screen and (max-width: 576px) {
  .works {
    padding: 30px 0;
  }
}
.works__title {
  margin: 0 auto;
}
.works__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .works__btns {
    margin-bottom: 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (max-width: 576px) {
  .works__btns {
    margin-bottom: 30px;
  }
}
.works__btn {
  font-size: 16px;
  color: #555;
  font-family: "Roboto Slab", serif;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}
.works__btn:hover {
  color: #c0301c;
}
.works__btn:not(:last-child) {
  margin-right: 20px;
}
.works__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.works__card {
  width: calc(100% / 12 * 4 - 30px);
  margin: 0 15px 30px;
  position: relative;
  display: none;
  -webkit-animation: appear 1s forwards;
          animation: appear 1s forwards;
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.works__card img {
  margin: 0 auto;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .works__card {
    width: calc(100% / 12 * 6 - 30px);
  }
}
@media screen and (max-width: 576px) {
  .works__card {
    width: calc(100% - 30px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.works__card.active {
  display: block;
}
.works__overlay {
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background: #cf6a5fc0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.works__overlay:hover {
  opacity: 1;
}
.works__titile {
  font-size: 18px;
}
.works__text {
  font-size: 12px;
  margin: 17px 0 30px;
}
.works__link {
  font-size: 14px;
  padding: 11px 26px;
  color: #c0301c;
  background: #fff;
  text-transform: uppercase;
}

.fa-angle-right {
  margin-left: 10px;
}

.init {
  background: url("/img/section4-bg.png") no-repeat center/cover;
  padding: 70px 0;
}
@media screen and (max-width: 768px) {
  .init {
    padding: 50px 0;
  }
}
@media screen and (max-width: 576px) {
  .init {
    padding: 30px 0;
  }
}
.init__body {
  text-align: center;
  font-size: 30px;
  font-family: "Roboto Slab", serif;
  line-height: 42px;
}
@media screen and (max-width: 576px) {
  .init__body {
    font-size: 25px;
  }
}
.init__subtitle {
  margin-bottom: 45px;
}
.init__buton {
  color: #fff;
  text-transform: uppercase;
  border: 3px solid #fff;
  border-radius: 3px;
  font-size: 18px;
  padding: 10px 24px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.init__buton:hover, .init__buton:focus {
  background: #fff;
  color: #c0301c;
}

.blog {
  background: #fff;
  padding: 70px 0;
}
@media screen and (max-width: 768px) {
  .blog {
    padding: 50px 0;
  }
}
@media screen and (max-width: 576px) {
  .blog {
    padding: 30px 0;
  }
}
.blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555;
  font-family: "Roboto Slab", serif;
}
.blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .blog__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}
.blog__item:first-child {
  margin-bottom: 80px;
}
.blog__item:first-child::before {
  content: '';
  position: absolute;
  width: 98%;
  height: 1px;
  bottom: -40px;
  left: 15px;
  background: #dddddd;
}
@media screen and (max-width: 768px) {
  .blog__item:first-child::before {
    width: 100%;
    left: 0;
  }
}
.blog__img {
  width: calc(100% / 12 * 5 - 30px);
  margin: 0 15px;
}
@media screen and (max-width: 768px) {
  .blog__img {
    width: 100%;
    margin: 0 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.blog__content {
  width: calc(100% / 12 * 7 - 30px);
  margin: 0 15px;
}
@media screen and (max-width: 768px) {
  .blog__content {
    width: 100%;
    margin: 0 auto;
  }
}
.blog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.blog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 2px solid #555;
  padding: 13.5px 21.5px;
  margin-right: 25px;
  color: #777;
}
.blog__date {
  font-size: 14px;
  text-transform: uppercase;
}
.blog__number {
  font-size: 24px;
  font-weight: 700;
  display: block;
}
.blog__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 23px;
  padding: 10px 0;
}
@media screen and (max-width: 791px) {
  .blog__title {
    padding: 7px 0;
  }
}
.blog__about {
  font-size: 16px;
  text-transform: uppercase;
}
.blog__about_red {
  color: #c0301c;
}
.blog__name {
  font-size: 13px;
  font-style: italic;
  color: #777;
}
.blog__name span {
  color: #c0301c;
}
.blog__text {
  font-size: 14px;
  margin-bottom: 40px;
  line-height: 22px;
}
.blog__more {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  color: #777;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.blog__more:focus, .blog__more:hover {
  color: #c0301c;
}

.partners {
  background: #f8f8f8;
  padding: 70px 0;
}
@media screen and (max-width: 768px) {
  .partners {
    padding: 50px 0;
  }
}
@media screen and (max-width: 576px) {
  .partners {
    padding: 30px 0;
  }
}
.partners__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.partners__img img {
  margin: 0 10px 10px;
}
.partners__slider {
  margin: 70px auto 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 0;
  max-width: 760px;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .partners__slider {
    margin: 40px auto 0;
  }
}
.partners__item {
  text-align: center;
  max-width: 765px;
  width: 100%;
}
.partners__text {
  color: #555;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.partners__text_top {
  font-size: 18px;
  font-style: italic;
}
.partners__text_bottom {
  margin-top: 45px;
  font-size: 20px;
}

.partners__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.partners__slider .slick-dots li {
  list-style: none;
}

.partners__slider .slick-dots li.slick-active button {
  background: #c0301c;
}

.partners__slider .slick-dots li button {
  font-size: 0;
  width: 13px;
  height: 13px;
  background: #ddd;
  border-radius: 50%;
  border: none;
  margin: 0 4px;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.partners__slider .slick-dots li button:hover, .partners__slider .slick-dots li button:focus {
  background: #c0301c;
  outline: none;
}

.contact {
  background: #fff;
  padding: 70px 0;
}
@media screen and (max-width: 768px) {
  .contact {
    padding: 50px 0;
  }
}
@media screen and (max-width: 576px) {
  .contact {
    padding: 30px 0;
  }
}
.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
@media screen and (max-width: 830px) {
  .contact__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contact__data {
  width: calc(100% / 12 * 4 - 30px);
  margin: 0 15px;
}
@media screen and (max-width: 830px) {
  .contact__data {
    width: calc(100% - 30px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .contact__data {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 15px 15px;
  }
}
@media screen and (max-width: 432px) {
  .contact__data {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
.contact__form {
  width: calc(100% / 12 * 8 - 30px);
  margin: 0 15px;
}
@media screen and (max-width: 830px) {
  .contact__form {
    width: calc(100% - 30px);
  }
}

.data__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #555;
  font-family: "Roboto Slab", serif;
}
.data__icon:not(:last-child) {
  margin: 0 0 15px 0;
}
@media screen and (max-width: 830px) {
  .data__icon:not(:last-child) {
    margin: 0 20px 15px 0;
  }
}
.data__icon i {
  padding-top: 3px;
}
@media screen and (max-width: 830px) {
  .data__icon i {
    padding-top: 1px;
  }
}
.data__item {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.data__item_mail {
  margin-left: 11px;
}
.data__title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}
.data__subtitle {
  color: #555;
  font-size: 12px;
  line-height: 20px;
  font-family: "Roboto Slab", serif;
}

.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 576px) {
  .form__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.form__input {
  width: 100%;
  border: 1px solid #555;
  max-height: 42px;
  height: 100%;
  padding: 11.5px;
  margin-bottom: 20px;
  color: #555;
}
.form__input::-webkit-input-placeholder {
  color: #555;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto Slab", serif;
}
.form__input:-ms-input-placeholder {
  color: #555;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto Slab", serif;
}
.form__input::-ms-input-placeholder {
  color: #555;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto Slab", serif;
}
.form__input::placeholder {
  color: #555;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto Slab", serif;
}
@media screen and (max-width: 768px) {
  .form__input::-webkit-input-placeholder {
    margin-bottom: 15px;
  }
  .form__input:-ms-input-placeholder {
    margin-bottom: 15px;
  }
  .form__input::-ms-input-placeholder {
    margin-bottom: 15px;
  }
  .form__input::placeholder {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 576px) {
  .form__input::-webkit-input-placeholder {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .form__input:-ms-input-placeholder {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .form__input::-ms-input-placeholder {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .form__input::placeholder {
    font-size: 10px;
    margin-bottom: 10px;
  }
}
.form__input:first-child {
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  .form__input:first-child {
    margin-right: 15px;
  }
}
@media screen and (max-width: 576px) {
  .form__input:first-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .form__input {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 576px) {
  .form__input {
    margin-bottom: 10px;
  }
}
.form__textarea {
  resize: none;
  width: 100%;
  height: 100px;
  border: 1px solid #555;
  margin-bottom: 20px;
  padding: 11.5px;
  color: #555;
}
.form__textarea::-webkit-input-placeholder {
  color: #555;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto Slab", serif;
}
.form__textarea:-ms-input-placeholder {
  color: #555;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto Slab", serif;
}
.form__textarea::-ms-input-placeholder {
  color: #555;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto Slab", serif;
}
.form__textarea::placeholder {
  color: #555;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto Slab", serif;
}
@media screen and (max-width: 576px) {
  .form__textarea::-webkit-input-placeholder {
    font-size: 10px;
  }
  .form__textarea:-ms-input-placeholder {
    font-size: 10px;
  }
  .form__textarea::-ms-input-placeholder {
    font-size: 10px;
  }
  .form__textarea::placeholder {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .form__textarea {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 576px) {
  .form__textarea {
    margin-bottom: 10px;
  }
}
.form__button {
  max-width: 170px;
  width: 100%;
  border: 1px solid #555;
  padding: 11.5px;
  color: #555;
  background: #fff;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  margin-right: 40px;
  cursor: pointer;
}
.form__button:hover, .form__button:focus {
  border: 1px solid #c0301c;
  color: #c0301c;
}
@media screen and (max-width: 576px) {
  .form__button {
    font-size: 10px;
    margin: 0 0 15px 0;
  }
}
.form__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 576px) {
  .form__button-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.form__warning {
  color: #555;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
}
.form__star {
  color: #c0301c;
  margin-right: 5px;
}

textarea.form__textarea:focus {
  border: 1px solid #c0301c;
  outline: none;
}

input.form__input:focus {
  border: 1px solid #c0301c;
  outline: none;
}

.footer {
  background: #c0301c;
  padding: 70px 0;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 50px 0;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    padding: 30px 0;
  }
}
.footer__title {
  margin-bottom: 0;
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__items::before {
  background: #fff;
}
.footer__text {
  font-family: "Roboto Slab", serif;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title__item {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.title__item:not(:last-child) {
  margin-right: 13px;
}
.title__item:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.title__link {
  color: #fff;
  font-size: 16px;
  border-radius: 50%;
  border: 3px solid #fff;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
